<div class="footer">
    <hr />

    <p class="pull-left small">
        <a href="http://github.com/angelov/eestec-platform" target="_blank">
            EESTEC Platform for Local Committees
        </a>
        <br />
        Developed by <a href="http://github.com/angelov" target="_blank">Angelov Dejan</a>

    </p>

    <p class="pull-right small">
        <small>{{ Config.get('app.version') }},
            <a href="https://github.com/angelov/eestec-platform/issues" target="_blank">
                bugs?
            </a>
        </small>
    </p>
</div>

</div> <!-- /container -->

<script src="{{ Config.get('app.url') }}/static/assets/build/js/app.js"></script>

</body>
</html>
