<div class="row">

    <div class="col-md-8">

        <legend>New members per month</legend>
        <div id="chart-new-members" style="width:100%; height:200px;"></div>

    </div>

    <div class="col-md-4">
        <div class="well">
            <legend style="margin-top: -20px;"><i class="glyphicon glyphicon-gift"></i> Birthdays</legend>
            {% for member in withBirthday %}
                <div class="birthday">
                <img src="{{ route('imagecache', ['xsmall', member.photo]) }}" class="" />
                <span>
                    <strong>{{ member.full_name }}</strong>
                    <small><i>(turns {{ member.age }})</i></small>
                </span>
                </div>
            {% else %}
                No birthdays today.
            {% endfor %}
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <legend>Members from faculties</legend>
        <div id="chart-members-faculties"></div>
    </div>

    <div class="col-md-4">
        <legend>Quick numbers</legend>
        <div class="row">
            <div class="col-md-6 text-center">
                Members:<br />
                <h1>256</h1>
            </div>
            <div class="col-md-6 text-center">
                Active:<br />
                <h1>124</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                Meetings:<br />
                <h1>50</h1>
            </div>
            <div class="col-md-6 text-center">
                Total attendants:<br />
                <h1>1289</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <legend>Members per year</legend>
        <div id="chart-members-years"></div>
    </div>

</div>