/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea/
/public/static/assets/vendor/
/public/static/assets/build/
/public/static/photos/
node_modules/
*.env
config/development/
config/testing/
storage/views/
db.sh