{% set page_title = 'Events' %}

{% extends "base.twig" %}

{% block body %}

    <div class="row vertical-center">
        <div class="col-md-7">
            <h1 style="margin-bottom: -5px;">Events</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-7">

            <legend>Upcoming events:</legend>

            <script type="text/javascript">var cities = [];</script>
            {% for event in events %}

                {% include "events/partials/event-item.twig" %}

            {% endfor %}

            <p class="help-block text-right small">
                The events are automatically fetched from <a href="http://eestec.net" target="_blank" class="text-danger"><strong>eestec.net</strong></a>.
                The list is updated daily.
            </p>

        </div>

        <div class="col-md-5">

            <legend>Map:</legend>

            <div id="europe-map" style="height: 500px; min-width: 310px; max-width: 600px;"></div>


        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent()  }}

    <script type="text/javascript">
        $(function () {

            $('#europe-map').highcharts('Map', {
                chart : {
                    borderWidth : 0
                },
                credits: {
                    enabled: false
                },

                title : {
                    text : '',
                    enabled: false
                },

                legend: {
                    enabled: false
                },

                series : [{
                    name: 'Country',
                    mapData: Highcharts.maps['custom/europe'],
                    dataLabels: {
                        enabled: true,
                        color: '#FFFFFF',
                        formatter: function () {
                            if (this.point.value) {
                                return this.point.name;
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '{point.name}'
                    }
                },
                    {
                        "type": "mappoint",
                        "marker": {
                            "symbol": "url({{ asset('static/assets/pin.png') }})"
                        },
                        "data": cities
                    }]
            });
        });
    </script>

{% endblock %}