{% set page_title = 'Documents' %}
{% include 'header.twig' %}

{% include 'documents/modals/add-document.twig' %}

<div class="row vertical-center">
    <div class="col-md-7">
        <h1>Documents</h1>
    </div>
    <div class="col-md-5 text-right">
        <div class="right-inner-addon" style="float: left; width: 67%">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" placeholder="Search documents by title" />
        </div>
        <a class="btn btn-info" data-toggle="modal" data-target="#modal-add-document"><i class="glyphicon glyphicon-plus"></i> Add document</a>
    </div>
</div>

<div class="row">

    {% include 'documents/components/list-all-tags.twig' %}

    <div class="col-md-8">

        <legend class="clearfix">
            <span class="pull-left">Tag: {{ tag.getName() }}</span>
            <span class="pull-right text-muted text-"><small><small>{{ documents|length }} documents</small></small></span>
        </legend>

        <div id="documents-list">

            {% for document in documents %}

                {% include 'documents/components/document.twig' %}

            {% endfor %}

        </div>

        <div class="text-right">
            {{ documents.render()|raw }}
        </div>

    </div>
</div>


{% include 'footer.twig' %}
