{% set page_title = 'Documents' %}
{% include 'header.twig' %}

{% include 'documents/modals/add-document.twig' %}

<div class="row vertical-center">
    <div class="col-md-7">
        <h1>Documents</h1>
    </div>
    <div class="col-md-5 text-right">
        <div class="right-inner-addon" style="float: left; width: 67%">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" placeholder="Search documents by title" />
        </div>
        <a class="btn btn-info" data-toggle="modal" data-target="#modal-add-document"><i class="glyphicon glyphicon-plus"></i> Add document</a>
    </div>
</div>

<div class="row">

    <div class="col-md-4">

        <legend>Browse by tags</legend>

        <div class="panel panel-default">

            <div class="panel-body">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" id="input-filter-tags" class="form-control" placeholder="Filter tags" />
                </div>
            </div>

            <ul class="list-group" id="list-all-tags">
                <li class="list-group-item tag-item"><a href="">Finances</a> <span class="badge">4</span></li>
                <li class="list-group-item tag-item"><a href="">Robomac</a> <span class="badge">7</span></li>
                <li class="list-group-item tag-item"><a href="">Code App Level Up 2014</a> <span class="badge">2</span></li>
                <li class="list-group-item tag-item"><a href="">Logistics</a> <span class="badge">5</span></li>
                <li class="list-group-item tag-item"><a href="">Gone Wild 2013</a> <span class="badge">19</span></li>
                <li class="list-group-item tag-item"><a href="">Hug an EESTECer</a> <span class="badge">5</span></li>
                <li class="list-group-item tag-item"><a href="">Sponsors</a> <span class="badge">9</span></li>
            </ul>
        </div>

    </div>

    <div class="col-md-8">

        <legend>List of documents</legend>

        <div id="documents-list">

            {% for document in documents %}

                {% include 'documents/components/document.twig' %}

            {% endfor %}

        </div>

        <div class="text-right">
            {{ documents.render()|raw }}
        </div>

    </div>
</div>


{% include 'footer.twig' %}