{% set page_title = 'Documents' %}
{% include 'header.twig' %}

{% include 'documents/modals/add-document.twig' %}

<div class="row vertical-center">
    <div class="col-md-7">
        <h1>Documents</h1>
    </div>
    <div class="col-md-5 text-right">
        <div class="right-inner-addon" style="float: left; width: 67%">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" placeholder="Search documents by title" />
        </div>
        <a class="btn btn-info" data-toggle="modal" data-target="#modal-add-document"><i class="glyphicon glyphicon-plus"></i> Add document</a>
    </div>
</div>

<div class="row">

    <div class="col-md-4">

        <legend>Browse by tags</legend>

        <div class="panel panel-default">

            <div class="panel-body">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control" placeholder="Search tags" />
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item"><a href="">Finances</a> <span class="badge">4</span></li>
                <li class="list-group-item"><a href="">Robomac</a> <span class="badge">7</span></li>
                <li class="list-group-item"><a href="">Code App Level Up 2014</a> <span class="badge">2</span></li>
                <li class="list-group-item"><a href="">Logistics</a> <span class="badge">5</span></li>
                <li class="list-group-item"><a href="">Gone Wild 2013</a> <span class="badge">19</span></li>
                <li class="list-group-item"><a href="">Hug an EESTECer</a> <span class="badge">5</span></li>
                <li class="list-group-item"><a href="">Sponsors</a> <span class="badge">9</span></li>
            </ul>
        </div>

    </div>

    <div class="col-md-8">

        <legend>List of documents</legend>

        <div id="documents-list">

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Plans and ideas for Q1 2015 <small>(external)</small></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget viverra erat, eu vehicula enim.
                            Pellentesque tempus sapien nisl, a consectetur sapien dictum non. Curabitur eget mattis turpis.
                            Maecenas rutrum urna lectus, sit amet bibendum eros dictum quis.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 small">
                        <p>
                        Uploaded by <a href="">Dejan Angelov</a> on 09.03.2015.<br />
                        Visible to all members. 948 views by 46 members.
                        </p>
                    </div>

                    <div class="col-md-2 small">
                        <p>
                        Share:<br />
                        <a class="has-tooltip" href="" data-toggle="tooltip" data-placement="top" title="Share on Facebook"><i class="fa fa-facebook-square fa-lg"></i></a>
                        <a class="has-tooltip" href="" data-toggle="tooltip" data-placement="top" title="Share on Twitter"><i class="fa fa-twitter-square fa-lg"></i></a>
                        <a class="has-tooltip" href="" data-toggle="tooltip" data-placement="top" title="Get link"><i class="fa fa-link fa-lg"></i></a>
                        </p>
                    </div>

                    <div class="col-md-1">
                        <a href="" class="btn btn-default pull-right"><i class="glyphicon glyphicon-new-window"></i> View</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Tags:
                            <a href=""><span class="label label-primary">Finances</span></a>
                            <a href=""><span class="label label-success">Sponsors</span></a>
                            <a href=""><span class="label label-default">Code App Level Up 2014</span></a>
                            <a href=""><span class="label label-danger">Logistics</span></a>

                    </div>
                </div>


                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <label>Use this link to share the document:</label>
                            <input type="text" style="width: 100%" class="form-control"
                                   value="http://members.eestec-sk.org.mk/documents/65" disabled
                                    />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Plans and ideas for Q1 2015 <small>(external)</small></h3>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <p>Tags:
                    <a href=""><span class="label label-default">CALU 2014</span></a>
                    <a href=""><span class="label label-primary">Finances</span></a>
                    <a href=""><span class="label label-success">Organization</span></a>
                    <a href=""><span class="label label-danger">Important</span></a>

                </p>

                <div class="row">
                    <div class="col-md-6 small">
                        Uploaded by <a href="">Dejan Angelov</a> on 09.03.2015.<br />
                        Visible to all members. 948 views.
                    </div>

                    <div class="col-md-3 small">
                        Share:<br />fb | tw | email
                    </div>

                    <div class="col-md-3">
                        <a href="" class="btn btn-default pull-right"><i class="glyphicon glyphicon-new-window"></i> View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Plans and ideas for Q1 2015 <small>(external)</small></h3>
            </div>
            <div class="panel-body">

                <p>Tags:
                    <a href=""><span class="label label-primary">Finances</span></a>
                    <a href=""><span class="label label-default">CALU 2015</span></a>
                    <a href=""><span class="label label-danger">Sponsors</span></a>
                    <a href=""><span class="label label-success">Robomac</span></a>
                    <a href=""><span class="label label-danger">Gone Wild 2013</span></a>

                </p>

                <div class="row">
                    <div class="col-md-6 small">
                        Uploaded by <a href="">Dejan Angelov</a> on 09.03.2015.<br />
                        Visible to all members. 948 views.
                    </div>

                    <div class="col-md-3 small">
                        Share:<br />fb | tw | email
                    </div>

                    <div class="col-md-3">
                        <a href="" class="btn btn-default pull-right"><i class="glyphicon glyphicon-new-window"></i> View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Plans and ideas for Q1 2015 <small>(external)</small></h3>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget viverra erat, eu vehicula enim.
                    Pellentesque tempus sapien nisl, a consectetur sapien dictum non. Curabitur eget mattis turpis.
                    Maecenas rutrum urna lectus, sit amet bibendum eros dictum quis.</p>

                <p>Tags:
                    <a href=""><span class="label label-default">CALU 2015</span></a>
                    <a href=""><span class="label label-success">Organization</span></a>
                    <a href=""><span class="label label-danger">Important</span></a>
                    <a href=""><span class="label label-primary">Logistics</span></a>

                </p>

                <div class="row">
                    <div class="col-md-6 small">
                        Uploaded by <a href="">Dejan Angelov</a> on 09.03.2015.<br />
                        Visible to all members. 948 views.
                    </div>

                    <div class="col-md-3 small">
                        Share:<br />
                        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
                        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                        <a href=""><i class="fa fa-link fa-lg"></i></a>
                    </div>

                    <div class="col-md-3">
                        <a href="" class="btn btn-default pull-right"><i class="glyphicon glyphicon-new-window"></i> View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>


</div>

{% include 'footer.twig' %}