body {
    padding-top: 70px;
}

h1 {
    margin-bottom: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

legend {
    padding-top: 20px;
}

.search-box {
    float: left !important;
    margin-right: 10px;
}

#members-list-info {
    margin-bottom: 15px;
}

.datepicker {
    z-index: 1151 !important;
}

#img-preview-photo {
    width: 200px;
    height: 200px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.birthday {
    margin-bottom: 10px;
}

.birthday > img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#chart-new-members {
    margin-top: 20px !important;
}

#chart-members-faculties {
    width: 100%;
    height: 200px;
}

#chart-members-years {
    width: 100%;
    height: 200px;
}

#tpl-attendant {
    display: none;
}

#attendants-list {
    margin-top: 30px;
}

.attendant {
    display: inline-block;
    position:relative;
    overflow:hidden;
    background-color: red;
    margin-right: 0px;
    padding: 0;
}

.delete-attendant {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width: 100%;
    height: 100%;

    display: none;
    color:#fff !important;
    z-index:2;
}

.caption-content {
    width: 100%;
    height: 100%;
}

.caption-content i {
    color: white !important;
    top: 30%;
    left: 30%;
}

.caption-content a {
    width: 100%;
    height: 100%;
    display: block;
}

.caption-content > a {
    color: white !important;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.bootstrap-tagsinput {
    width: 100% !important;
}