{% set page_title = "Supported Faculties Settings" %}
{% set section = "faculties" %}

{% extends "settings/base.twig" %}

{% block section %}

    <div class="row">
        <div class="col-md-6">
            <legend  style="padding-top: 0">Add Faculty</legend>

            <div class="alert alert-dismissable" id="status-add-faculty" style="display: none;" role="alert">
                <a class="close" data-hide="alert" href="#">×</a>
                <div id="status-add-faculty-message"></div>
            </div>

            <form role="form" method="post" action="{{ route('settings.faculties.store') }}">
                <input type="hidden" id="csrf-token" name="_token" value="{{ csrf_token() }}" />
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Faculty title">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="abbreviation">Abbreviation:</label>
                            <input type="text" class="form-control col-md-4" id="abbreviation" name="abbreviation" placeholder="eg. FEEIT">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="university">University:</label>
                            <input type="text" class="form-control" id="university" name="university" placeholder="University title">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="small text-muted pull-left"><span class="text-warning">*</span> All fields are required</p>
                        <button type="submit" class="btn btn-info pull-right" id="btn-store-faculty">Add</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-6">
            <legend  style="padding-top: 0">Statistics</legend>
            <script type="text/javascript">
                var membersPerFaculty = [["\u0422\u041c\u0424",114],["\u041c\u0424\u0421",108],["\u0424\u0415\u0418\u0422",96],["\u0424\u0418\u041d\u041a\u0418",93],["\u041f\u041c\u0424",90]];
            </script>
            <div id="chart-members-faculties"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <legend>Supported Faculties</legend>

            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error:</strong> There are members who have chosen the faculty you wanted to delete. Please disable it instead.
            </div>

            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Faculty successfully deleted.
            </div>

            <table id="supported-faculties-table" class="table table-bordered table-striped" style="">
                <input type="hidden" name="_token" id="csrf-token" value="{{ csrf_token() }}" />
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Abbreviation</th>
                        <th>University</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for faculty in faculties %}

                        {% include "settings/faculties/partials/faculty-row.twig" %}

                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

{% endblock %}