<h1>Hello {{ member.full_name }},</h1>

<p>We are happy to notify you that your {{ Config.get('main.title') }} account was successfully
<strong>approved</strong>.</p>

<p>However, in order to use your account, you need to have a valid paid membership fee. If you have already
paid one, please wait for it to be proceeded by the board members. We will send you another email when it's done
and you can log in.</p>

<p>Thank you for being part of the family,<br />
<strong>{{ Config.get('main.title') }}</strong></p>