<h1>Hello {{ member.getFullName() }},</h1>

<p>We are happy to notify you that your {{ Config.get('main.title') }} account was successfully
<strong>approved</strong>.</p>

<p>To continue using the service log in <a href="{{ Config.get('app.url') }}" target="_blank">here</a>.</p>

<p>Thank you for being part of the family,<br />
<strong>{{ Config.get('main.title') }}</strong></p>
