<h1>Hello {{ member.getFullName() }},</h1>

<p>We are sorry to inform you that your request for an {{ Config.get('main.title') }} account was
    <strong>declined</strong>.</p>

<p>Please make sure your information is valid and register again.</p>

<p>Thank you for being part of the family,<br />
<strong>{{ Config.get('main.title') }}</strong></p>