<h1>Hello {{ member.getFullName() }},</h1>

<p>Thank you for registering for an account on {{ Config.get('main.title') }}.</p>

<p>We will review the information you submitted and we will notify you if your account is approved.</p>

<p>Thank you for being part of the family,<br />
    <strong>{{ Config.get('main.title') }}</strong></p>
