<tr {% if not faculty.isEnabled() %} class="text-muted" {% endif %}>
    <td>{{ faculty.getTitle() }}</td>
    <td>{{ faculty.getAbbreviation() }}</td>
    <td>{{ faculty.getUniversity() }}</td>
    <td class="text-right">

        {% if faculty.isEnabled() %}
            <a href="#" data-toggle="tooltip"
               data-placement="top" title="Disable" class="has-tooltip">
                <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
        {% else %}
            <a href="#" data-toggle="tooltip"
               data-placement="top" title="Enable" class="has-tooltip">
                <i class="glyphicon glyphicon-ok-circle"></i>
            </a>
        {% endif %}

        <a href="#" data-toggle="tooltip"
           data-placement="top" title="Edit" class="has-tooltip">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>

        <a href="#"
           data-toggle="tooltip" data-placement="top" title="Delete" class="has-tooltip">
            <i class="glyphicon glyphicon-trash"></i>
        </a>

    </td>
</tr>