{% set page_title = 'Not found' %}
{% include 'header.twig' %}

<div class="row">
    <div class="col-md-12">

        <h1>404<small> not found</small></h1>
        <p>
            The resource you are looking for could not be found.<br />
            The error is logged and we're going to check if there is any problem.
        </p>

    </div>
</div>

{% include 'footer.twig' %}