<div class="row">
    <div class="col-md-5">
        <legend>Meetings details</legend>

        <dl class="">
            <dt>Meetings attendance rate:</dt>
            <dd>{{ attendanceRate }}%</dd>
        </dl>
    </div>
</div>