<div class="row">
    <div class="col-md-5">
        <legend>Membership details</legend>

        <dl class="">
            <dt>Membership status:</dt>
            <dd>{{ member.membership_status }}</dd>

            <dt>Expiration date:</dt>
            <dd>{{ member.membership_expiration_date }}</dd>
        </dl>

        <a href="{{ route('fees.create', {"member_id": member.id}) }}"
           class="btn btn-default btn-renew-membership" data-member="{{ member.id }}">
            <i class="fa fa-money"></i> Renew membership
        </a>

    </div>

</div>