<div class="footer">
    <hr />

    <p class="pull-right small">
        Developed by <a href="http://ultim8.info">Ultim8</a> for
        <a href="http://eestec-sk.org.mk/">EESTEC LC Skopje</a> &copy; 2014
        <br />
        <span class="pull-right">v0.1 pre-alpha</span>
    </p>
</div>

</div> <!-- /container -->

<script src="{{ Config.get('app.url') }}/static/assets/build/js/app.js"></script>

</body>
</html>
