{% set page_title = member.full_name %}
{% include 'header.twig' %}

<h1>{{ member.full_name }}</h1>

<div class="modal fade" id="modal-renew-membership"></div>

<div class="row">

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ route('imagecache', ['medium', member.photo]) }}" alt="..."
                     class="img-thumbnail" style="width: 100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i class="glyphicon glyphicon-ok" style="margin-right: 5px;"></i> Active
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="glyphicon glyphicon-heart" style="margin-right: 5px"></i>
                                Joined <span class="date-to-humanize">2011-08-30</span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {% if (member.board_member) %}
                                    <i class="glyphicon glyphicon-tower" style="margin-right: 5px;"></i> Board member
                                {% else %}
                                    <i class="glyphicon glyphicon-user" style="margin-right: 5px;"></i> Regular member
                                {% endif %}
                            </td>
                        </tr>

                        {% if (member.position_title is defined) %}
                            <tr>
                                <td>
                                    <i class="glyphicon glyphicon-briefcase" style="margin-right: 5px;"></i> {{ member.position_title }}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-m-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#member-basic-info-tab" role="tab" data-toggle="tab">Basic information</a>
                    </li>
                    <li>
                        <a href="#member-membership-tab" role="tab" data-toggle="tab">Membership</a>
                    </li>
                    <li>
                        <a href="#member-meetings-tab" role="tab" data-toggle="tab">Meetings</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="member-profile-tabs">

                    <div class="tab-pane active" id="member-basic-info-tab">
                        {% include 'members.profile.basic' %}
                    </div>

                    <div class="tab-pane" id="member-membership-tab">
                        {% include 'members.profile.membership' %}
                    </div>

                    <div class="tab-pane" id="member-meetings-tab">
                        {% include 'members.profile.meetings' %}
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

{% include 'footer.twig' %}
